NEXT_PUBLIC_INSTANT_APP_ID="your-instant-app-id"
INSTANT_APP_ID="your-instant-app-id"
INSTANT_ADMIN_TOKEN="your-admin-token"
NODE_ENV="development"
NEXT_PUBLIC_ADMIN_EMAIL="your-admin-email@example.com"
